@media screen and (max-width: 1400px) {
  html {
    font-size: 12px;
  }

  .home {
    width: 100%;
  }

  .title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .home {
    width: 100%;
  }
  .main {
    padding: 1rem 0;
    flex-wrap: wrap;
  }
  .section-text {
    width: 90%;
    margin: 0.5rem auto;
    justify-content: center;
  }

  .title {
    text-align: center;
    font-size: 3rem;
    width: 100%;
  }

  .description p {
    text-align: center;
  }

  .section-image {
    display: none;
  }

  .jumbo {
    width: 98%;
  }

  .center {
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 15px;
  }
}
