@media screen and (max-width: 1024px) {
  .menu-mobile {
    display: inline-flex;
    margin-top: 3px;
    margin-right: 10px;
  }
  .header {
    width: 100%;
    margin: 10px auto;
    border-bottom: none;
  }
  .header-left {
    width: 90%;
  }

  .header-title {
    font-size: 1.2rem;
  }

  .header-left img {
    width: 5rem;
    height: auto;
    margin-right: 0.5rem;
  }
}
