@media screen and (max-width: 975px) {
  .menu-mobile {
    display: inline-flex;
    margin-top: 3px;
    margin-right: 10px;
  }
  .header {
    width: 90%;
    margin: 10px auto;
    border-bottom: none;
  }
}
